<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Retro Pub</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/responsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <script src="/scripts/script.js" defer></script>
    </head>
    <body>
        <header class="animate__animated animate__faster ">
            
            <nav class="navbar navbar-expand-lg navbar-light ps-3 pe-3 ">
                
                <a href="/" class="logo-container d-flex flex-column align-items-center justify-content-center ">
                    <img src="/images/icons/logo.png" width=40px" alt="">
                    <h1 class="m-auto ">RETRO PUB</h1>
                </a>

                <button class="navbar-toggler bg-dark border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  
                  <i class="fa fa-bars text-white"></i>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    
                    <a class="nav-item nav-link " href="#">SERVIÇOS</a>
                    <a class="nav-item nav-link " href="#">CONTATO</a>
                    <a class="nav-item nav-link " href="#">QUEM SOMOS</a>
                  </div>
                </div>
            </nav>
        </header>

        <section class="slider-area ">
           
            <div class="gradient-area d-flex align-items-center justify-content-start ps-sm-5 ps-2">
                <h1 class="text-white animate__animated animate__fadeInUp" style="animation-delay: 0.4s;">
                    <span class="first">RETRO</span> <span class="last">PUB</span> <br> BARBEARIA <br>
                    <a class="contact btn" href="#">FALE CONOSCO</a>
                </h1>
            </div>
           
        </section>

        <section class="about-area d-flex justify-content-center   flex-column flex-lg-row align-items-center ">

            <div class="col-sm-9 col-11 col-md-8 col-lg-6 col-xl-4 border border-light about-img rounded-1 overflow-hidden">
                <img src="https://i.pinimg.com/originals/96/19/a4/9619a4fffa3cb80b13188102175dfba3.jpg" alt="">
            </div>

            <article class="col-sm-10 col-md-6 col-lg-5 col-xl-4 border border-light about-content d-flex flex-column  justify-content-around align-items-center ">
                
                <div class="text-content ">
                    <figure class="about-title mb-3 d-flex align-items-center justify-content-center">
                        <img class="float-end" src="/images/icons/company.png" alt="">
                        <h2 class="text-white m-0 ">QUEM SOMOS</h2>
                
                    </figure>

                    <article >
                        <p class="text-start">There are many variations of passages of <br> Lorem Ipsum available be the majority have <br>
                            suffered alteration in some form, <br> by injected humour or randomised words.
                        </p> 
                    </article>
                    
                   
                </div>
                

                <div class="about-content--hour d-flex align-items-start justify-content-center flex-column">
                    <div class="watch-container mb-2 d-flex align-items-center">
                        <img class="img-fluid" src="/images/icons/relogio.png" alt="">
                        <h2>Horário de funcionamento</h2>
                    </div>

                    <p>Segunda - Sexta (07:00 - 11:30) - (13:30 - 19:00) <br>Sabádo - (8:00 - 20:00)</p>
                    
                </div>
            </article>
            
        </section>


        <section class="services ">
            <div class="content  pt-4 pb-4 d-flex align-items-center justify-content-center flex-column">
                <div class="services--title w-100 mb-5 justify-content-center d-flex align-items-center">
                    <img src="/images/icons/serviços.png" alt="">
                    <h2 class=" text-light ">SERVIÇOS</h2>
                </div>
                

                <div class="cards d-flex flex-wrap justify-content-center">
                    <div class="card d-flex flex-column align-items-center justify-content-center" style="width: 18rem;">
                        <img class="card-img-top mt-2" src="/images/icons/maquina-de-cortar-cabelo.png" alt="Card image cap">
                        <article class="card-body text-center">
                          <h5 class="card-title text-light">Corte de Cabelo</h5>
                          <p class="card-text mt-3 ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </article>
                    </div>

                    <div class="card d-flex flex-column align-items-center justify-content-center" style="width: 18rem;">
                        <img class="card-img-top mt-2" src="/images/icons/barba.png" alt="Card image cap">
                        <article class="card-body text-center">
                          <h5 class="card-title text-light">Cuidado com a Barba</h5>
                          <p class="card-text mt-3 ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </article>
                    </div>

                    <div class="card d-flex flex-column align-items-center justify-content-center" style="width: 18rem;">
                        <img class="card-img-top mt-2" src="/images/icons/cabelo-masculino.png" alt="Card image cap">
                        <article class="card-body text-center">
                          <h5 class="card-title text-light">Pintura e Selagem do Cabelo</h5>
                          <p class="card-text mt-3 ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </article>
                    </div>

                    <div class="card d-flex flex-column align-items-center justify-content-center" style="width: 18rem;">
                        <img class="card-img-top mt-2" src="/images/icons/sobrancelhas.png" alt="Card image cap">
                        <article class="card-body text-center">
                          <h5 class="card-title text-light">Cuidado com a Sobrancelha</h5>
                          <p class="card-text mt-3 ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </article>
                    </div>
    
                </div>


                <div class="accordion row w-100 mt-3" id="accordionExample">
                    <div class="accordion-item m-auto  col-lg-6 col-11 p-0">

                         <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                PREÇOS
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body d-flex flex-column">
                                <div class="single-items d-flex justify-content-between">
                                    <span>CORTE DE CABELO DEGRADE NA NAVALHA</span>
                                    <strong class="d-flex"><span>R$</span><span>40,00</span></strong>
                                </div>
                                <div class="single-items">
                                    <span>CORTE DE CABELO DEGRADE NA MAQUINA</span>
                                    <strong class="d-flex"><span>R$</span><span>40,00</span></strong>
                                </div>
                                <div class="single-items">
                                    <span>CORTE DE CABELO SOCIAL</span>
                                    <strong class="d-flex"><span>R$</span><span>40,00</span></strong>
                                </div>
                                <div class="single-items">
                                    <span>TRATAMENTO PARA BARBA</span>
                                    <strong class="d-flex"><span>R$</span><span>40,00</span></strong>
                                </div>
                                <div class="single-items">
                                    <span>SOBRANCELHA</span>
                                    <strong class="d-flex"><span>R$</span><span>40,00</span></strong>
                                </div>
                                <div class="single-items">
                                    <span>PINTURA DE CABELO</span>
                                    <strong class="d-flex"><span>R$</span><span>40,00</span></strong>
                                </div>
                                <div class="single-items">
                                    <span>SELAGEM DE CABELO</span>
                                    <strong class="d-flex"><span>R$</span><span>40,00</span></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="carousel-photos">
            <div class="caroulsel-photos--title w-100 d-flex pt-5 pb-5 justify-content-center align-items-center">
                <img src="/images/icons/man.png" alt="">
                <h2>ESTILOS</h2>
            </div>
            
            <div class="owl-carousel owl-theme">
                    
                <% for(photo of filesList){%>
                    <img  src="/images/photos/<%=photo%>" alt="<%photo%>">
                <%}%> 
                    
            </div>
        </section>


        <section class="our-professionals mt-5 mb-5 pt-2 pb-3">
            <div class="our-professionals--title d-flex align-items-center justify-content-center">
                <img src="/images/icons/businessman.png" alt="">
                <h2>NOSSOS PROFISSIONAIS</h2>
            </div>

            <div class="cards mt-5  flex-wrap d-flex justify-content-center">
                <div class="card card-professionals d-flex flex-column align-items-center justify-content-between" >
                    <img class="card-img-top " src="/images/professionals/p1.webp" alt="Card image cap">
                    <article class="card-body card-professionals-body w-100 text-center">
                      <h5 class="card-title text-light">Jhon</h5>
                      <p class="card-text mt-3 ">Some quick example text to</p>
                    </article>
                </div>

                <div class="card card-professionals d-flex flex-column align-items-center justify-content-center">
                    <img class="card-img-top " src="/images/professionals/p2.png" alt="Card image cap">
                    <article class="card-body card-professionals-body w-100 text-center">
                      <h5 class="card-title text-light">Luka</h5>
                      <p class="card-text mt-3 ">Some quick example text to </p>
                    </article>
                </div>

                <div class="card card-professionals d-flex flex-column align-items-center justify-content-center">
                    <img class="card-img-top " src="/images/professionals/p3.png" alt="Card image cap">
                    <article class="card-body card-professionals-body w-100 text-center">
                      <h5 class="card-title text-light">Roben</h5>
                      <p class="card-text mt-3 ">Some quick example text to </p>
                    </article>
                </div>

                <div class="card card-professionals d-flex flex-column align-items-center justify-content-center">
                    <img class="card-img-top" src="/images/professionals/p4.png" alt="Card image cap">
                    <article class="card-body card-professionals-body w-100 text-center">
                      <h5 class="card-title text-light">Laura</h5>
                      <p class="card-text mt-3 ">Some quick example text to </p>
                    </article>
                </div>

            </div>

        </section>

        <footer class=" flex-wrap d-flex justify-content-around">
            <div class="card col-xl-3 col-lg-4 col-md-5 col-sm-6 d-flex flex-column justify-content-center align-items-center">
                <article class="card-body text-center">
                    <div class="card-body--title">
                        <i class="bi bi-telephone"></i>
                        <h5 class="card-title text-light">CONTATO</h5>
                    </div>
                    
                    <p class="card-text">Para mais informações, <br> entre em contato conosco pelo telefone abaixo.</p>
                    <a href="#" class="btn btn-primary">913-473-7000</a>
                </article>
            </div>

            <div class="card d-flex col-xl-3 col-lg-4 col-md-5 col-sm-6">
                
                <article class="card-body text-center">
                    <div class="card-body--title">
                        <img src="/images/icons/logo.png" alt="">
                        <h5 class="card-title text-light">RETRO PUB</h5>
                    </div>
                    
                    <p class="card-text">Lorem Ipsum is simply dummy text of the <br> printing and typesetting industry</p>
                    <div class="social-medias d-flex justify-content-center">
                        <a href="#"> <i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i> </a>
                    </div>
                </article>
            </div>

            <div class="card col-xl-3 col-lg-4 col-md-5 col-sm-6 d-flex">
                <article class="card-body text-center">
                    <div class="card-body--title">
                        <i class="bi bi-geo-alt"></i>
                        <h5 class="card-title text-light">ENDEREÇO</h5>
                    </div>
                    
                    <p class="card-text">Av. Rio Grande do Sul, 555e - Centro <br>Lucas do Rio Verde - MT <br> 78455-000</p>
                    <a href="https://goo.gl/maps/mXYbD1mR2989L8A3A" class="btn btn-primary">Localização</a>
                </article>
            </div>
            
        </footer> -->
        

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
    </body>
</html>